<div class="container-fluid">
    <div class="row footer1">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 footbox text-center p-4">
        <img style="height: 50px;" src="{{cprofile.logo.url}}" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 footbox2">
        <h3 class="text-center text-white">Useful Links</h3>
        <ul class="list-unstyled">
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms and Condition</a></li>
          <li><a href="">Return Policy</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 footbox3">
        <h3 class="text-center text-white">Social Links</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href=""><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-instagram"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-linkedin"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="bi bi-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row footer2 bg-dark pt-3 pb-2">
      <div class="col-12">
        <p class="text-center text-white">Copyright &copy; 2022, All rights Reserved | Crafted by Team DevCircle</p>
      </div>
    </div>
  </div>