{% extends 'base.html' %}
{% load humanize %}

{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %} 
<!-- content -->
<div class="container mt-5 mb-5">
  <h1 class="text-center display-4 title">All Products</h1>
  <div class="row text-center justify-content-center">
    {% if pagin %}
      {% for item in pagin %}
      <div class="col-8 col-sm-6 col-md-4 col-lg-3 mt-5 mb-5">
        <div class="card" style="height: 500px;">
          <img src="{{item.pix.url}}" class="card-img-top mt-4" style="height: 250px;">
          <span class="line mt-3"></span>
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            {% if item.discount_price %}
              <span><del><p class="card-text">₦{{item.price|floatformat:2|intcomma}}</p></del></span>
              <p class="card-text">₦{{item.discount_price|floatformat:2|intcomma}}</p>
            {% else %}
              <p class="card-text">₦{{item.price|floatformat:2|intcomma}}</p>
            {% endif %}
            <form action="{% url 'addtocart' %}" method="POST"> 
              {% csrf_token %}
              <input type="hidden" name="phoneid" value="{{item.id}}">
              <input type="hidden" name="quantity" value="1">
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
<!-- pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mb-5">
    
    {% if pagin.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{pagin.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    
    {% for item in pagin.paginator.page_range %}
      {% if pagin.number == item %}
        <li class="page-item"><a class="page-link" href="#">{{item}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{item}}">{{item}}</a></li>
      {% endif %}
    {% endfor %}
      
    
    {% if pagin.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{pagin.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{pagin.paginator.num_pages}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- pagination done-->
<!-- content done -->
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}