*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg:white;
    --icon:black;
    --text:black;
    --card:black;
}
.dark{
    --bg:black;
    --icon:white;
    --text:white;
    --card:black;
}
body{
    background: var(--bg) !important;
    color: var(--text) !important;
}
.osas{
    margin-left: 3%;
    cursor: pointer;
}
/* top bar */
.auth{
    display: flex !important; 
}
.auth a{
    color: black;
    text-decoration: none;
}
.auth a:hover{
    color: black;
    text-decoration: none;
}
.avat img{
    border-radius: 100%;
    width: 40px;
    outline: 2px solid yellow;
}
.cont i{
    color:blue;
}
.authlist a{
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
}
.alist:hover{
    transform: translateY(-5px);
    transition: 1.2s;
}
/* topbar done */
/* nav bar */
.navbar{
    background: blue;
}
.navbar-nav a{
    color: white;
}
.navbar-nav a:hover{
    color: black;
}
.dropdown ul{
    background:blue;
}
/* carousel */
.carouicon i{
    font-size: 7vh;
    color: blue;
}
.carousel-indicators .active{
    background-color: blue !important;
}
/* carousel done */

/* content */
.pagination a{
    color:black;
}
.pagination li a:focus{
    background: rgb(212, 86, 27);
    color: blue !important;
}
.pagination li a:hover{
    color: white;
    background: yellow !important;
}
.card{
    border-radius: 2rem  !important;
    outline: 2px solid blue;
    box-shadow: 0 0 20px grey;
}
.card-title{
    font-weight: 600;
    color: var(--card);
}
.card-text{
    color: var(--card);
}
.card:hover{
    transform: translateY(-30px);
    transition: 1s;
}
.line{
    border-bottom: 3px solid yellow;
}
.card-body .btn{
    background: blue;
    border: none;
}
.card-body .btn:hover{
    background: yellow;
    color: black;
}
/* content done */
/* footer */
.footer1{
    background: blue;
    padding: 3% 0;
}
.footer1 img{
    margin-left: 5%;
}
.footbox2{
    border-left: 1px solid yellow;
}
.footbox2 ul{
    text-decoration: none;
    text-align: center;
}
.footbox2 ul a{
    text-decoration: none;
    color: black;
}
.footbox3{
    border-left: 1px solid yellow;
}
.footbox3 ul{
    text-align: center;
}
.footbox3 ul li i{
    color: yellow;
}
.footbox3 ul li i:hover{
    transform: translateY(-20px) !important;
    transition: 1s;
}
/* footer done */
/* styling banner */
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(../img/slider2.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* styling banner done */
/* styling detail */
.phonedet{
    margin-left: 10%;
    color: var(--card) !important;
}
.detbtn{
    color: white;
    background: blue;
}
.detbtn:hover{
    color: black !important;
    background: yellow;
}
.phonedet h5{
    color: black;
    font-weight: 700;
}
/* styling detail done */
/* contact */
.contbtn{
    color:white !important;
    background: blue !important;
    width: 100px;
}
.contbtn:hover{
    color: black !important;
    background: yellow!important;
}
.map{
    margin-top: 15%;
}
/* contact done */
/* cart */
.cart table{
    width: 90%;
    border: 1px solid black !important;
}
.cart thead{
    background:blue;
    text-align: center;
}
.cart th{
    text-transform: capitalize;
    color: white;
}
.cart tbody{
    text-align: center;
    /* border: 1px solid #7d3054; */
}
.cart tbody tr{
    border: 1px solid #0c0b0c;
}
.cart tbody td{
    border: 1px solid #131212;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}
.carttotal p{
    color: rgb(8, 8, 8);
    font-weight: 600;
    text-transform: capitalize;
}
.total{
    color: rgb(228, 8, 8);
}
.cartbtn{
    background: blue !important;
    color: white !important;
}
.lop{
    text-transform: capitalize;
    font-weight: 600;
}
/* cart  done */
/* checkout */
.ship{
    border:1px solid black;
    padding: 10px;
}
.cart p{
    color: black;
    font-weight: 600;
    text-transform: capitalize;
    font-size: large;
}
/* checkout done */
/* profile */
.profavat img{
    border-radius: 50%;
    outline: 2px solid yellow;
}
.uselink ul{
    text-align:left;
}
.uselink a{
    text-decoration: none;
    text-transform: capitalize;
    color:var(--text);
}
.uselink i{
    color: teal;
}
.title::after{
    content: '';
    display: block;
    width: 180px;
    height: 3px;
    background: blue;
    margin-left: auto;
    margin-right: auto;
}
/* profile done */
/* callbavk */
.callback{
    text-transform: capitalize;
    color: blue;
    margin-top: 5%;
    font-size: 20px;
}
.callback span{
    text-transform: capitalize;
    color: yellow;
    font-weight: 600;
}
/* callback done */
/* signup  */
.signup form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    outline: 2px solid blue;
    padding: 20px;
    border-radius: 1rem;
}
.signup form input{
    border-color: blue;
}
.signup form input:focus{
    border-color: blue !important;
    box-shadow: none !important;
}
.login i{
    color: blue;
}
.pass{
    position: relative;
}
.show{
    position: absolute;
    top: 60%;
    right: 20px;
    cursor: pointer;
}
.show .bi-eye-fill{
    display: none;
}
.show.hide .bi-eye-fill{
    display: block;
}
.show.hide .bi-eye-slash-fill{
    display: none;
}
/* signupdone */

@media (min-width:768px) and (max-width:140px){

}

@media (max-width:1400px){
    .profavat img{
        border-radius: 100%;
        outline:2px solid yellow;
        height: 300px;
    }
}

@media (max-width:768px){
    .shipdet{
        padding-top: 10%;
    }
    .profavat img{
        border-radius: 100%;
        outline:2px solid yellow;
        height: 300px;
        margin-left: 35%;
    }
    .signup form{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        outline: 2px solid blue;
        padding: 20px;
        border-radius: 1rem;
    }
}    